body{
  margin: 0;
  padding: 0;
}
.header{
  display: flex;
  border: 1px;
  height: 80px;
  background-color: purple;
  color: white;
}
.header h3{
  margin-top: 30px;
  margin-left: 100px;

}

.header :nth-child(2){
  display: flex;
  list-style: none;

 
}
.header ul{
  margin-left: 50px;
  margin-top: 30px;
}
.header li{
  margin-left: 10px;

 
 
}
 .header ul li a{
  text-decoration: none;
  color: white;
}
.header button{
  width: 150px;
  height: 50px;
  margin-top: 12px;
  margin-left: 200px;
  border-radius: 20px;
  background-color: blue;
  border: 1px;
  color: white;

}
.findintern{
  height: 70px;
  border: 1px solid;
  background-color:#110A48;
  line-height: 5px;
  

}
.findintern :first-child{
  color: white;
  margin-top:20px ;
  text-align: center;
}
.findintern :nth-child(2){
  color: white;
  text-align: center;
  margin-top: 2px;
  
  
}
.backgroundimage{
  background-image: url(../assets/images/backgroundimage.jpeg);
  height: 800px;
  border: 1px solid;
  background-size: cover;
  clip-path: polygon(0 0,100% 0%,100% 100%,0 70%);

  
}
.text{
  width: 1000px;
  line-height: 40px;
  margin-left: 100px;
}
.learnmore{
  border: 1px;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color:#110A48;
  color: #fff;
  margin-left: 560px;
  
}
.howtoapply{
  border: 1px solid;
  height: 150px;
  background-color:purple;
  margin-top: 10px;
  line-height: 5px;
}
.howtoapply :first-child{
  color: #fff;
  text-align: center;
  font-size: 32px;
  margin-top: 50px;
}
.howtoapply :nth-child(2){
  color: #fff;
  text-align: center;
}

form{
 width: 500px;
 height: 300px;
 border: 1px solid;
 margin-top: 100px;
 margin-left: 400px;
 border-radius: 20px;
 line-height: 10px;
}

input{
  width: 300px;
  height: 30px;
  border-radius: 30px;
  margin-left: 170px;
  border: 1px solid;
  
   
}
label{
margin: 20px;
 
 }
 .footer{
  background-color: purple;
  height: 100px;
  color: #fff;
  line-height: 100px;
  text-align: center;
  
 }
 .score{
  width: 200px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  margin-left: 520px;
 }
 /*students styles*/
 .backgroundimage2{
  background-image: url(../assets/images/backgroundimage.jpeg);
  height: 800px;
  border: 1px;
  background-size: cover;
  

  
}
.internshipprogram{
  height: 120px;
  border: 1px;
  background-color:purple;
  margin: 0;
  
}
.internshipprogram :first-child{
  color: white;
  text-align: center;
  font-size: 35px;
  margin-top: 0;
  line-height: 60px;
  
}
.internshipprogram :nth-child(2){
  color: white;
  text-align: center;
  line-height: 2px;
}
.upbox{
  display: flex;
  margin-left: 100px;
}
.box1{
  border: 1px solid;
  border-radius: 20px;
  height: 200px;
  width: 404px;
  margin: 50px;
  line-height: 40px;
  color: #fff;
  background-color: #1A6B9A;
}
.box1 p{
  margin: 20px;
}
.box2{
  border: 1px solid;
  border-radius: 20px;
  height: 200px;
  width: 404px;
  margin-left: 100px;
  margin: 50px;
  line-height: 40px;
  color: #fff;
  background-color: #1A6B9A;
}
.box2 p{
  margin: 20px;
}
.downbox{
  display: flex;
  margin-left: 100px;
}
.box3{
  border: 1px solid;
  border-radius: 20px;
  height: 200px;
  width: 404px;
  margin: 50px;
  line-height: 40px;
  color: #fff;
  background-color: #1A6B9A;
}
.box3 p{
  margin: 20px;
}
.box4{
  border: 1px solid;
  border-radius: 20px;
  height: 200px;
  width: 404px;
  margin-left: 100px;
  margin: 50px;
  line-height: 40px;
  color: #fff;
  background-color: #1A6B9A;
}
.box4 p{
  margin: 20px;
}
.marketing h3{
  margin-left: 200px;

}
.administration h3{
  margin-left: 150px;

}
.infotech h3{
  margin-left: 70px;

}
.humanresource h3{
  margin-left: 150px;

}
/*schools*/
.empower{
  height: 100px;
  border: 1px;
  background-color: #9A9262;
  margin: 0;
  
}
.empower p{
  width: 200px;
  text-align: center;
  margin-left: 500px;
  margin-top: 0px;
  color: #fff;
  font-size: 20px;
  
}
.backgroundimage3{
  background-image: url(../assets/images/couple-creative-professionals-sitting-together-table-with-blueprints-working-project_74855-9763.jpg);
  height: 800px;
  border: 1px;
  background-size: cover;
  
}
.unlock{
  width: 600px;
  line-height: 60px;
  text-align: center;
  margin-left: 300px;
}
.findintern2{
  height: 100px;
  border: 1px solid #9A9262 ;
  background-color:#9A9262;
  line-height: 5px;
  

}
.findintern2 h3{
  text-align: center;
}
.findintern2 p{
  text-align: center;
  color:#A62E2E;
}
.backgroundimage4{
  background-image: url(../assets/images/960x0.jpg);
  height: 800px;
  border: 1px;
  background-size: cover;
  

  
}
.inter_up{
  width: 600px;
  line-height: 40px;
  text-align: center;
  margin-left: 300px;
}
.knowmore{
  height: 70px;
  border: 1px solid;
  background-color:#110A48;
  line-height: 5px;
  

}
.knowmore :first-child{
  text-align: center;
  margin-left: 100px;
  color: #fff;
  font-size: 25px;
}
.knowmore :nth-child(2){
  text-align: center;
  margin-left: 100px;
  color: #fff;
  font-size: 15px;
}
.backgroundimage5{
  background-image: url(../assets/images/story.jpg);
  height: 800px;
  border: 1px;
  background-size: cover;
  

  
}
.ouraim{
  width: 700px;
  line-height: 30px;
  text-align: center;
  margin-left: 300px;
}